.list-imeges-item-wrapper {

    position: relative;
    overflow: hidden;

}

.overlay {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    padding: 63px 24px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;


    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timing-function);
}


.link-imeges-item-wrapper:hover .overlay,
.link-imeges-item-wrapper:focus .overlay {
    transform: translateY(0%);


}